// Colors
$c-green-80: #263738;
$c-green-60: #385051;
$c-green-40: #647f80;
$c-green-20: #b4cbcc;
$c-green-10: #d3e3e4;

$c-light-blue: #8ccff4;
$c-orange: #dd931d;

// Shadows
$shadow-card: 0 4px 15px
  rgba(
    $color: $c-green-80,
    $alpha: 0.3
  );

// Corner radius
$radius-card: 10px;

// Transitions
$t-marker: 0.2s;
$t-marker-animation: 1.5s;
$t-observation-card: 0.5s;
