@use '../styles/variables.module.scss' as var;
@use '../styles/mixins' as mix;
@use '../styles/animations';

.mapContainer {
  height: 100%;
}

.photosPreview {
  display: flex;
  height: 50px;
  width: 100%;

  .photosPreviewItem {
    height: 50px;
    margin: 3px;
    width: 50px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

// mapboxgl style overrides. Assigning custom class is not possible
:global .mapboxgl-popup {
  max-width: 280px;

  .mapboxgl-popup-content {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
  }
}
