@use '../styles/variables.module.scss' as var;
@use '../styles/mixins' as mix;

.container {
  align-items: center;
  background-color: var.$c-green-60;
  display: grid;
  grid-template-columns: 210px 1fr 210px;
  min-height: 40px;
  padding: 5px 20px;
  transition: background-color 0.3s;

  .side {
    align-items: center;
    display: flex;
    gap: 5px;
    height: 100%;

    &.left {
      justify-content: flex-start;

      .backButton {
        background: none;
        box-shadow: none;
        color: var.$c-green-10;
        font-size: 0.88rem;
        font-weight: 600;
        outline: none;
        transition: background-color var.$t-button, color var.$t-button;

        :global .bp4-icon {
          color: var.$c-green-10;
          margin-right: 5px;
          transition: color var.$t-button;
        }

        &:active,
        &:hover {
          background: var.$c-green-40;
          color: var.$c-green-80;

          :global .bp4-icon {
            color: var.$c-green-80;
          }
        }
      }
    }

    &.right {
      justify-content: flex-end;

      .counter {
        color: var.$c-green-20;
        font-size: 0.88rem;
        margin: 0;
        text-align: right;
      }

      .predictionOverride {
        @include mix.custom-react-select(var.$c-green-10);
        min-width: 180px;
      }

      .updateButton {
        background-color: var.$c-green-60;
        color: var.$c-green-10;
        font-weight: 600;

        &:hover {
          background-color: var.$c-green-80;
          color: var.$c-white;
        }
      }
    }
  }

  .heading {
    color: var.$c-white;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.selectionMode {
    background-color: var.$c-green-20;
    grid-template-columns: auto 1fr auto;

    .side {
      &.left {
        .backButton {
          border-radius: 50%;
          color: var.$c-green-80;
          height: 30px;
          margin-right: 5px;
          width: 30px;

          :global .bp4-icon {
            color: var.$c-green-80;
            margin: 0;
          }

          &:active,
          &:hover {
            background-color: var.$c-green-10;
          }
        }
      }
    }

    .heading {
      color: var.$c-green-80;
      font-size: 0.88rem;
      text-align: left;
    }
  }
}

.confirmationDialog {
  background-color: var.$c-white;
  border-radius: var.$radius-card;
  gap: 20px;
  padding: 30px;

  .text {
    font-size: 1rem;
  }

  .buttons {
    justify-content: flex-end;
    display: flex;
    gap: 5px;
  }
}
