.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.filename {
  align-items: center;
  display: flex;
  flex: 1;

  & > * {
    margin: 0 10px 0 0;
  }
}
