@import '../styles/app.global.scss';

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .popover {
    .popoverContent {
      display: grid;
      gap: 10px;
      padding: 30px;
      width: 200px;

      .numericInput {
        min-width: 0;
        width: 100%;
      }
    }
  }
}

.textOutput {
  align-items: center;
  display: flex;
  flex: 1;

  & > h5 {
    margin: 0 10px 0 0;

    &:last-child {
      font-weight: normal;
    }
  }
}
