.container {
  align-items: center;
  display: grid;
  gap: 15px;
  grid-area: header;
  grid-template-columns: 1fr repeat(3, auto);
  justify-content: space-between;

  .popover {
    .popoverContent {
      padding: 30px;
      min-width: 250px;

      .row {
        align-items: center;
        display: flex;
        justify-content: space-between;

        &:first-child {
          margin-bottom: 15px;
        }
      }

      .eventTitle {
        margin: 0;
        margin-right: 10px;
      }

      .eventDurationInput {
        margin-right: 10px;
        width: 150px;
      }

      .eventApplyButton {
        padding-left: 20px;
        padding-right: 20px;
        width: 150px;
      }
    }
  }
}

.textOutput {
  align-items: center;
  display: flex;
  flex: 1;

  & > h5 {
    margin: 0 10px 0 0;

    &:first-child {
      white-space: nowrap;
    }

    &:last-child {
      font-weight: normal;
    }
  }
}
