@import '../styles/config/variables';
@import '../styles/config/mixins';

.container {
  display: grid;
  gap: 15px;
  grid-area: filters;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;

  .inputGroup {
    width: 100%;
  }

  .label {
    margin-bottom: 5px;
  }
}
