@use '../styles/variables' as var;

.drawer {
  width: 750px !important; // overriding specificity would be too complicated

  .drawer-body {
    overflow: hidden;
  }

  .dialog-body {
    height: 100%;
    margin: 0;
    padding: 10px 0;

    .list {
      height: 100%;
      margin: 0;

      .observation {
        padding: 10px 20px;
        transition: opacity var.$t-observation-card, visibility 0s var.$t-observation-card;

        .card {
          border-radius: var.$radius-card;
          box-shadow: var.$shadow-card;
          height: auto;

          .heading {
            margin-top: 0;
          }

          .body {
            display: flex;

            .photo {
              align-items: start;
              border-radius: var.$radius-card;
              display: flex;
              height: auto;
              justify-content: center;
              max-height: 270px;
              overflow: hidden;
              position: relative;

              .img {
                border-radius: var.$radius-card;
                transition: opacity var.$t-observation-card, visibility 0s;
              }

              .loader {
                margin-top: 30%;
                position: absolute;
                transition: opacity var.$t-observation-card, visibility 0s;
              }
            }

            .data {
              margin-left: 24px;

              :global .bp3-popover-target {
                display: flex;
              }

              .predictionOverride {
                margin-left: 10px;
                width: 100%;
              }

              .predictionLabel {
                margin-bottom: 5px;
              }

              .photoDetails {
                margin: 20px 10px;
              }
            }
          }
        }

        &.loading {
          & > .card > .body > .photo {
            .img {
              opacity: 0;
              visibility: hidden;
            }

            .loader {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        &.loaded {
          & > .card > .body > .photo {
            .img {
              opacity: 1;
              visibility: visible;
            }

            .loader {
              opacity: 0;
              visibility: hidden;
            }
          }
        }

        &.scrolling {
          opacity: 0.8;
        }
      }
    }
  }
}
