@use '../styles/variables' as var;

$t-observation-card: 0.5s;

.drawer {
  .drawerBody {
    overflow: hidden;
  }

  .dialogBody {
    height: 100%;
    margin: 0;
    padding: 10px 0;

    .list {
      height: 100%;
      margin: 0;

      .observation {
        padding: 10px 20px;
        transition: opacity $t-observation-card, visibility 0s $t-observation-card;

        .card {
          border-radius: var.$radius-card;
          box-shadow: var.$shadow-card;
          height: auto;

          .heading {
            margin-top: 0;
          }

          .body {
            display: flex;

            .photo {
              .img {
                border-radius: var.$radius-card;
                transition: opacity $t-observation-card, visibility 0s;
              }
            }

            .data {
              margin-left: 24px;

              :global .bp3-popover-target {
                display: flex;
              }

              .predictionOverride {
                margin-left: 10px;
                width: 100%;
              }

              .predictionLabel {
                margin-bottom: 5px;
              }

              .photoDetails {
                margin: 20px 10px;
              }
            }
          }
        }

        &.loading {
          & > .card > .body > .photo {
            .img {
              opacity: 0;
              visibility: hidden;
            }
          }
        }

        &.loaded {
          & > .card > .body > .photo {
            .img {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        &.scrolling {
          opacity: 0.8;
        }
      }
    }
  }
}
