@use '../styles/variables' as var;

.drawer {
  .drawerHeader {
    background-color: var.$c-green-60;
    display: grid;
    align-items: center;
    grid-template-columns: 180px 1fr 180px;

    .heading {
      color: var.$c-white;
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
      text-align: center;
    }

    .backButton {
      background: none;
      box-shadow: none;
      color: var.$c-green-10;
      font-size: 0.9rem;
      outline: none;
      transition: color var.$t-button;

      :global .bp3-icon {
        color: var.$c-green-10;
        margin-right: 5px;
        transition: color var.$t-button;
      }

      &:hover {
        background: none;
        color: var.$c-orange;

        :global .bp3-icon {
          color: var.$c-orange;
        }
      }
    }
  }

  .drawerBody {
    overflow: hidden;
    position: relative;
  }

  .dialogBody {
    height: 100%;
    margin: 0;

    .list {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin: 20px 0;
      padding: 20px;
    }
  }
}
