@use '../styles/variables' as var;
@use '../styles/animations';

$t-observation-card: 0.5s;
$card-size: 240px;

.observation {
  .card {
    border-radius: var.$radius-card;
    box-shadow: var.$shadow-card;
    display: flex;
    flex-direction: column;
    height: $card-size;
    padding: 5px;

    .header {
      align-items: center;
      display: flex;
      font-size: 0.88rem;
      font-weight: 400;
      justify-content: space-between;
      margin: 0;
      min-height: 36px;
      padding-top: 5px;

      .predictionOverride {
        [class$='control'] {
          border: none;
          box-shadow: none;
          cursor: pointer;
          font-weight: 600;
          min-height: 0;
          padding: 5px;

          [class$='ValueContainer'] {
            padding: 0 5px 0 0;

            [class$='Input'] {
              margin: 0;
              padding: 0;
            }
          }

          [class$='IndicatorsContainer'] {
            [class$='indicatorSeparator'] {
              display: none;
            }

            [class$='indicatorContainer'] {
              padding: 0;
            }
          }
        }

        [class$='menu'] {
          width: auto;
        }
      }
    }

    .body {
      border-radius: var.$radius-card - 2;
      cursor: zoom-in;
      display: flex;
      height: 100%;
      overflow: hidden;
      position: relative;

      .photo {
        display: flex;
        height: 100%;
        overflow: hidden;

        .img {
          height: 100%;
          transition: opacity $t-observation-card, visibility 0s;
          width: auto;
        }
      }

      .data {
        background-color: rgba($color: var.$c-green-10, $alpha: 0.8);
        height: 100%;
        overflow: auto;
        opacity: 0.3;
        padding: 10px;
        position: absolute;
        transform: translateX(100%);
        transition: opacity var.$t-obs-card, transform var.$t-obs-card,
          visibility 0s var.$t-obs-card;
        visibility: hidden;
        width: 100%;

        :global .bp3-popover-target {
          display: flex;
        }

        .predictionsTable {
          font-size: 0.81rem;
          margin-bottom: 5px;
          width: 100%;

          th,
          td {
            padding: 3px;

            &:first-child {
              padding-right: 10px;
            }
          }
        }

        .photoDetails {
          display: flex;
          flex-direction: column;
          font-size: 0.81rem;

          .photoDetail {
            margin-bottom: 5px;

            .label {
              font-weight: 700;
            }
          }
        }
      }

      &:hover {
        .data {
          opacity: 1;
          transform: translateX(0);
          transition: opacity var.$t-obs-card,
            transform var.$t-obs-card cubic-bezier(0.2, 0.98, 0.59, 1), visibility 0s;
          visibility: visible;
        }
      }
    }
  }

  &.maximized {
    animation: fade-in 0.3s;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    .card {
      border-radius: 0;
      height: 100%;
      width: 100%;

      .header {
        font-size: 1rem;
        min-height: 50px;
        padding: 5px 15px 0;
      }

      .body {
        border-radius: 0;
        cursor: zoom-out;

        .photo {
          display: flex;
          justify-content: center;
          overflow: initial;
          width: 100%;
        }

        .data {
          background-color: rgba($color: var.$c-green-10, $alpha: 0.9);
          border-radius: var.$radius-card;
          bottom: 20px;
          height: auto;
          left: 20px;
          opacity: 0;
          padding: 20px;
          transform: translateX(0);
          transition: opacity var.$t-obs-card, visibility 0s var.$t-obs-card;
          width: auto;

          .predictionsTable {
            font-size: 0.88rem;
            margin-bottom: 20px;

            th,
            td {
              &:last-child {
                text-align: right;
              }
            }
          }

          .photoDetails {
            font-size: 0.88rem;

            .photoDetail {
              margin-bottom: 10px;
            }
          }
        }

        &:hover {
          .data {
            opacity: 1;
            transform: translateX(0);
            transition: opacity var.$t-obs-card, visibility 0s;
            visibility: visible;
          }
        }
      }
    }
  }
}
