@use '../styles/variables' as var;

$t-observation-card: 0.5s;

.observation {
  height: 100%;
  transition: opacity $t-observation-card, visibility 0s $t-observation-card;

  .card {
    border-radius: var.$radius-card;
    box-shadow: var.$shadow-card;
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 5px;

    .header {
      align-items: center;
      display: flex;
      font-size: 0.9rem;
      font-weight: 400;
      justify-content: space-between;
      margin: 0;
      min-height: 36px;
      padding-top: 5px;

      .predictionOverride {
        [class$='control'] {
          border: none;
          box-shadow: none;
          cursor: pointer;
          font-weight: 600;
          min-height: 0;
          padding: 5px;

          [class$='ValueContainer'] {
            padding: 0 5px 0 0;

            [class$='Input'] {
              margin: 0;
              padding: 0;
            }
          }

          [class$='IndicatorsContainer'] {
            [class$='indicatorSeparator'] {
              display: none;
            }

            [class$='indicatorContainer'] {
              padding: 0;
            }
          }
        }

        [class$='menu'] {
          width: auto;
        }
      }

      & > .date {
        color: var.$c-grey-60;
      }
    }

    .body {
      display: flex;
      height: 100%;
      overflow: hidden;

      .photo {
        border-radius: var.$radius-card - 2;
        display: flex;
        height: 100%;
        overflow: hidden;

        .img {
          border-radius: var.$radius-card - 2;
          height: 100%;
          transition: opacity $t-observation-card, visibility 0s;
          width: 100%;
        }
      }

      .data {
        margin-left: 24px;
        position: absolute;
        visibility: hidden;

        :global .bp3-popover-target {
          display: flex;
        }

        .predictionLabel {
          margin-bottom: 5px;
        }

        .photoDetails {
          margin: 20px 10px;
        }
      }
    }
  }
}
