.link {
  color: #fff;

  .button {
    width: 100%;
    padding: 20px;
  }

  :global .bp3-button.bp3-minimal,
  :global .bp3-button.bp3-active.bp3-minimal {
    color: #fff;
    outline: none;

    &:hover {
      color: #fff;
    }
  }
}
