@import '../styles/config/variables';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 190px;
  height: calc(100vh - 50px);
  background-color: $c-green-80;
  text-align: center;
  color: #fff;

  .footer {
    bottom: 0;
    position: absolute;

    .heart {
      color: #0099f9;
    }

    .logoLink {
      .logoImg {
        width: 100%;
      }
    }
  }
}
