@use '../styles/variables' as var;
@use '../styles/mixins' as mix;

.container {
  align-items: center;
  display: flex;
  height: calc(100vh - 50px);
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  .card {
    border-radius: var.$radius-card;
    box-shadow: var.$shadow-card;
    padding: 40px;

    .header {
      @include mix.flex-center;

      margin-bottom: 20px;

      .title {
        font-weight: 500;
        font-size: 18px;
        margin: 0;
      }

      .icon {
        @include mix.flex-center;

        margin-left: 20px;
      }
    }
  }

  .animals {
    bottom: -10px;
    left: -10px;
    position: absolute;
    pointer-events: none;
    right: -10px;
    top: 0;

    & > img {
      bottom: 0;
      position: absolute;
      width: 100%;

      &:nth-child(5) {
        bottom: 1.1vw;
      }
      &:nth-child(4) {
        bottom: 2.3vw;
      }
      &:nth-child(3) {
        bottom: 3.2vw;
      }
    }
  }
}

.containerLoaded {
  align-content: start;
  display: grid;
  flex-direction: column;
  gap: 40px 30px;
  grid-template-areas:
    'header  header'
    'filters map   '
    'metrics map   ';
  grid-template-columns: 450px 1fr;
  grid-template-rows: repeat(2, auto) 1fr;
  max-height: calc(100vh - 50px);
  overflow-y: scroll;
  padding: 30px;
  position: relative;
  width: 100%;

  .card {
    border-radius: var.$radius-card;
    box-shadow: var.$shadow-card;
    display: flex;
    flex-direction: column;
    grid-area: map;
    height: 100%;

    &:hover {
      box-shadow: var.$shadow-card;
    }
  }

  .cardBody {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}
