@use './variables.module.scss' as var;

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin marker-animation-start($color) {
  box-shadow: 0 0 0 0 rgba($color: $color, $alpha: 0.2), 0 0 0 0 rgba($color: $color, $alpha: 0.4);
}

@mixin marker-animation-end {
  box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
}

@mixin marker($animation, $color, $opacity) {
  animation: $animation var.$t-marker-animation infinite ease-out;
  background-color: rgba($color: $color, $alpha: $opacity);
  border-color: $color;

  &::before {
    background-color: $color;
  }
}

@mixin custom-react-select($background: none) {
  [class$='control'] {
    background: $background;
    border: none;
    border-radius: var.$radius-input;
    box-shadow: none;
    cursor: pointer;
    font-weight: 600;
    min-height: 0;
    padding: 5px;

    [class$='ValueContainer'] {
      padding: 0 5px 0 0;

      [class$='placeholder'] {
        color: var.$c-green-60;
      }

      [class$='singleValue'] {
        color: var.$c-green-80;
      }

      [class$='Input'] {
        margin: 0;
        padding: 0;
      }
    }

    [class$='IndicatorsContainer'] {
      [class$='indicatorSeparator'] {
        display: none;
      }

      [class$='indicatorContainer'] {
        padding: 0;
      }
    }
  }

  [class$='menu'] {
    width: auto;
  }
}
