@use './variables' as var;

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin marker-animation-start($color) {
  box-shadow: 0 0 0 0 rgba($color: $color, $alpha: 0.2), 0 0 0 0 rgba($color: $color, $alpha: 0.4);
}

@mixin marker-animation-end {
  box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
}

@mixin marker($animation, $color, $opacity) {
  animation: $animation var.$t-marker-animation infinite ease-out;
  background-color: rgba($color: $color, $alpha: $opacity);
  border-color: $color;

  &::before {
    background-color: $color;
  }
}

@mixin slide-in-from($side, $position) {
  @keyframes slide-in-from-#{$side} {
    0% {
      transform: translateX(#{$position});
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
