/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@use './variables.module.scss' as var;

@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~mapbox-gl/dist/mapbox-gl.css';

body {
  background-color: #f8f9fa;
  font-family: Roboto, Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  position: relative;
}

li {
  list-style: none;
}

a {
  opacity: 1;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
  }
}

.bp4-button.bp4-intent-primary {
  background-color: var.$c-green-60;
  border-radius: var.$radius-input;
  box-shadow: none;
  color: var.$c-green-10;
  transition: background-color var.$t-button, color var.$t-button;

  &:hover,
  &:focus,
  &.bp4-active {
    background-color: var.$c-green-80;
    box-shadow: none;
    outline: none;
  }

  &.bp4-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.bp4-minimal {
    background-color: transparent;
    color: var.$c-green-80;

    &:hover,
    &:focus {
      background-color: var.$c-green-10;
      color: var.$c-green-80;
    }

    &:active {
      background-color: var.$c-green-20;
    }
  }
}
