@use '../styles/variables.module.scss' as var;

.navbar {
  &:global.bp4-navbar.bp4-dark {
    background-color: var.$c-green-60;
  }

  .logo {
    height: 32px;
    width: 32px;
  }
}

.main {
  display: flex;
  flex-direction: row;
}
